<p>Ask your coach anything</p>
<form action="/answer">
  <input type="text" id="text-area" name="question_input">
  <input type="submit" id="submit-button" value="Ask! <%= params[:question_input] %>">
</form>
